<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>

    <title>Templates | Arsh Saxena</title>
    
    <meta name="description" content="Templates | Arsh Saxena | Download cool website templates made by Arsh Saxena.">
    <meta name="author" content="Arsh Saxena">
    <meta name="keywords" content="Arsh Saxena, arsh.saxena02, GitHub, Coding, Indian, Student">
    
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/pages/globals/global-fonts.css">
    <link rel="stylesheet" href="/pages/globals/global-navbar/global-navbar.css">
    <link rel="stylesheet" href="/pages/globals/global-footer/global-footer.css">
    <link rel="stylesheet" href="/pages/globals/global-scrollbar.css">
    <link rel="stylesheet" href="/pages/globals/global-top-button/global-top-button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="theme-color" content="#1d1d1f">
    <meta name="msapplication-navbutton-color" content="#1d1d1f">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1d1d1f">

    <link rel="icon" href="/resources/first-page/icons/arsh-favicon.png">
</head>
<body>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    <script>
        $(function(){
        $("#nav").load("/pages/globals/global-navbar/global-navbar.html"); 
        $("#footer").load("/pages/globals/global-footer/global-footer.html"); 
        $("#top-button").load("/pages/globals/global-top-button/global-top-button.html");
        });
    </script>
    <div class="container">
        <span id="top-button"></span>
        <nav class="nav" id="nav"> 
        </nav>
        <div class="maindiv">
            <div class="template-div">
                <div class="template">
                    <div class="image-div">
                        <div class="slideshow-container">
                            <div class="mySlides fade">
                                <img src="simple-old-school/resources/template-screenshot-1.png" style="width:100%">
                                <caption><i>Home</i></caption>
                            </div>
                            <div class="mySlides fade">
                                <img src="simple-old-school/resources/template-screenshot-2.png" style="width:100%">
                                <caption><i>Gallery</i></caption>
                            </div>                            
                            <div class="mySlides fade">
                                <img src="simple-old-school/resources/template-screenshot-3.png" style="width:100%">
                                <caption><i>GitHub</i></caption>
                            </div>
                            <div class="mySlides fade">
                                <img src="simple-old-school/resources/template-screenshot-4.png" style="width:100%">
                                <caption><i>Error 404 - Page Not Found</i></caption>
                              </div>
                            
                            <a class="prev" onclick="plusSlides(-1)"><i class="fa fa-angle-left"></i></a>
                            <a class="next" onclick="plusSlides(1)"><i class="fa fa-angle-right"></i></a>
                        </div>
                        <br>
                    </div>
                    <div class="description-div">
                        <div class="description">
                            <span class="template-name">Simple Old School</span>
                        </div>
                        <div class="features">
                            <span class="features-head">Features</span>&nbsp; &nbsp;<span class="stars">⭐ 3</span>
                            <ul>
                                <li>Built with HTML and CSS</li>
                                <li>2-itmes navigation bar (more page links can be added)</li>
                                <li>Good readability</li>
                                <li>Back button on pages</li>
                                <li>Social media links</li>
                                <li>Custom Error 404 page</li>
                                <li>Custom scrollbar</li>
                                <li>Made with ❤️ in <span class="in">IN</span><span class="d">D</span><span class="ia">IA</span> 🇮🇳</li>
                            </ul>
                        </div>
                        <div class="checkout-button-div">
                            <button><b><a href="simple-old-school/" target="_blank">CHECK OUT&nbsp;<i class="fa fa-angle-right"></i></a></b></button>
                        </div>
                    </div>
                </div>
                <br><br>
                <!-- <div class="template">
                    <div class="image-div">
                        <img src="/resources/templates/simple-old-school/first-page.png" alt="">
                        <caption><i>Modern Cover</i></caption>
                    </div>
                    <div class="description-div">
                        <div class="description">
                            <span class="template-name">Modern Cover</span>
                        </div>
                        <div class="features">
                            <span class="features-head">Features</span>&nbsp; &nbsp;<span class="stars">⭐ 4.7</span>
                            <ul>
                                <li>Built with HTML and CSS with some JavaScript</li>
                                <li>Responsive, mobile-friendly</li>
                                <li>Dark, eyes-friendly</li>
                                <li>New mordern navigation bar</li>
                                <li>Best readability</li>
                                <li>Typewriting effect</li>
                                <li>Social media links</li>
                                <li>Custom Error 404 page</li>
                                <li>Custom scrollbar</li>
                                <li>Made with ❤️ in <span class="in">IN</span><span class="d">D</span><span class="ia">IA</span> 🇮🇳</li>
                            </ul>
                        </div>
                        <div class="check-out-div">
                            <button>
                                <a href="">
                                    <span class="check-out">Check it out</span>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <br><br> -->
                <div class="template">
                    <div class="image-div">
                        <img src="apple-style-nav-bar/resources/template-screenshot.png" alt="">
                        <caption><i>Apple Style Navigation Bar</i></caption>
                    </div>
                    <div class="description-div">
                        <div class="description">
                            <span class="template-name">Apple Style Navigation Bar</span>
                        </div>
                        <div class="features">
                            <span class="features-head">Features</span>&nbsp; &nbsp;<span class="stars">⭐ 3.9</span>
                            <ul>
                                <li>Built with HTML, CSS, and JavaScript</li>
                                <li>Responsive, mobile-friendly</li>
                                <li>Dark, eyes-friendly</li>
                                <li>New mordern look</li>
                                <li>Made with ❤️ in <span class="in">IN</span><span class="d">D</span><span class="ia">IA</span> 🇮🇳</li>
                            </ul>
                        </div>
                        <div class="checkout-button-div">
                            <button><b><a href="apple-style-nav-bar/" target="_blank">CHECK OUT&nbsp;<i class="fa fa-angle-right"></i></a></b></button>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="template">
                    <div class="image-div">
                        <img src="modern-footer/resources/template-screenshot.png" alt="">
                        <caption><i>Apple Style Navigation Bar</i></caption>
                    </div>
                    <div class="description-div">
                        <div class="description">
                            <span class="template-name">Modern Footer</span>
                        </div>
                        <div class="features">
                            <span class="features-head">Features</span>&nbsp; &nbsp;<span class="stars">⭐ 4.2</span>
                            <ul>
                                <li>Built with HTML and CSS</li>
                                <li>Responsive, mobile-friendly</li>
                                <li>Dark, eyes-friendly</li>
                                <li>Shows date</li>
                                <li>Shows clock</li>
                                <li>Made with ❤️ in <span class="in">IN</span><span class="d">D</span><span class="ia">IA</span> 🇮🇳</li>
                            </ul>
                        </div>
                        <div class="checkout-button-div">
                            <button><b><a href="modern-footer/" target="_blank">CHECK OUT&nbsp;<i class="fa fa-angle-right"></i></a></b></button>
                        </div>
                    </div>
                </div>
                <script>
                    var slideIndex = 1;
                    showSlides(slideIndex);
                    
                    function plusSlides(n) {
                      showSlides(slideIndex += n);
                    }
                    
                    function currentSlide(n) {
                      showSlides(slideIndex = n);
                    }
                    
                    function showSlides(n) {
                      var i;
                      var slides = document.getElementsByClassName("mySlides");
                      var dots = document.getElementsByClassName("dot");
                      if (n > slides.length) {slideIndex = 1}    
                      if (n < 1) {slideIndex = slides.length}
                      for (i = 0; i < slides.length; i++) {
                          slides[i].style.display = "none";  
                      }
                      for (i = 0; i < dots.length; i++) {
                          dots[i].className = dots[i].className.replace(" active", "");
                      }
                      slides[slideIndex-1].style.display = "block";  
                      dots[slideIndex-1].className += " active";
                    }
                </script>
            </div>
        </div>
    </div>
    <br><br>    
    <span class="footer-conatiner">
        <footer>
            <div class="footer" id="footer-part">
                <div class="footer-text">
                    <img src="/resources/first-page/icons/arsh.png" alt="arsh-img-footer">
                    <span class="path">
                        <span class="arrow"><i class="fa fa-angle-right"></i></span>
                        <span class="page-name">Templates</span>
                    </span>                  
                </div>
            </div>
        </footer>
        <footer id="footer"></footer>
    </span>
</body>
</html>