html{
    background-color: #1d1d1f;
}
body{
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    font-family: font-regular;
    overflow-x: hidden;
}
b{
    font-family: font-bold;
}
a{
    text-decoration: none;
}
.maindiv{
    text-align: left;
    color: white;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1024px;
    margin: auto;
}
.maindiv a h1{
    font-size: 21px;
    color: white;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgb(51, 51, 51);
    border-width: 1px;
}
.template{
    display: flex;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    border-bottom-color: rgb(51, 51, 51);
    padding-bottom: 20px !important;
}
.template:last-of-type{
    border-style: none;
}
.image-div{
    width: 73%;
}
.image-div img{
    width: 100%;
    border-radius: 20px;
    border-color: green;
    border-width: 4px;
    border-style: solid;
}
.description-div{
    margin-left: auto;
    width: 25%;
}
.template-name{
    font-size: 28px;
    font-weight: 600;
}
.features{
    margin-top: 15px;
}
.features-head{
    font-size: 25px;
}
.stars{
    font-size: 20px;
    background-color: #1d1d1f;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 10px;
}
ul{
    list-style-type: disc;
    padding-top: 0;
    padding-left: 20px;
}
li{
    font-size: 17px;
    padding-bottom: 10px;
}
.check-out-div button{
    font-family: font-regular;
    background-color: #1d1d1f;
    border-radius: 10px;
    border-color: transparent;
}
.check-out{
    color: #2997ff;
    font-size: 23px;
}
.check-out:hover{
    text-decoration: underline;
}
/* Slideshow */
.mySlides {
    display: none
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    margin-right: -8px;
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    } 
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    } 
    to {
        opacity: 1
    }
}
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 5px !important;
    }
}

/* Mobiles and some tabs */
@media only screen and (max-device-width: 823px) {
    body{
        letter-spacing: 0;
    }   
    .container{
        max-width: 100%;
        margin: auto;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .maindiv{
        text-align: left;
        color: white;
        padding-top: 30px;
        padding-left: 0px;
        padding-right: 0px;
        width: 90%;
        margin: auto;
    }
    .maindiv a h1{
        font-size: 26px;
        color: white;
        padding-bottom: 5px;
        border-width: 1px;
        margin: 15px;
    }
    .template{
        display: inline;
        padding-bottom: 0;
    }
    .image-div{
        width: 100%;
    }
    .image-div img{
        width: 100%;
        border-radius: 10px;
    }
    .description-div{
        padding-top: 15px;
        width: 100%;
    }
    .template-name{
        font-size: 25px;
        font-weight: 600;
    }
    .check-out:hover{
        text-decoration: none;
    }
    .prev, .next {
        position: absolute;
        top: 43%;
    }
    .prev:hover, .next:hover {
        background-color: transparent;
        -webkit-tap-highlight-color: transparent;
    }
}