html{
    background-color: #1d1d1f;
}
body{
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    font-family: font-regular;
    overflow-x: hidden;
}

b{
    font-family: font-bold;
}
a{
    text-decoration: none;
}
#link-nav.templates{
    font-weight: bold;
    color: white;
}
#link-nav.templates::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    transition: width 0.2s ease-out;
    background-color: lawngreen;
}
.maindiv{
    text-align: left;
    color: white;
    width: 940px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #1d1d1f;
    border-radius: 20px;
}
.maindiv a h1{
    font-size: 21px;
    color: white;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgb(51, 51, 51);
    border-width: 1px;
}
.template{
    display: flex;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    border-bottom-color: rgb(51, 51, 51);
    padding-bottom: 20px !important;
}
.template:last-of-type{
    border-style: none;
    padding-bottom: 0px !important;
}
.image-div{
    width: 70%;
}
.image-div img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
}
.description-div{
    margin-left: auto;
    width: 28%;
}
.template-name{
    font-size: 28px;
    font-weight: 600;
}
.features{
    margin-top: 15px;
}
.features-head{
    font-size: 25px;
}
.stars{
    font-size: 20px;
    background-color: rgb(51, 51, 51);
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 10px;
}
.features ul{
    list-style-type: disc;
    padding-top: 0;
    padding-left: 20px;
}
.features li{
    font-size: 17px;
    padding-bottom: 10px;
}
.checkout-button-div button {
    font-family: font-regular;
    padding: 4px 7.5px;
    background-color: #007aff;
    border: none;
    border-radius: 50px;
}
.checkout-button-div button a{
    font-size: 15px !important;
    color: white;
    letter-spacing: 1px;
}
/* Slideshow */
.mySlides {
    display: none
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    margin-right: -1px;
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    } 
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    } 
    to {
        opacity: 1
    }
}
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 5px !important;
    }
}

/* Mobiles and some tabs */
@media only screen and (max-device-width: 1023px) {
    body{
        letter-spacing: 0;
    }   
    .container{
        max-width: 100%;
        margin: auto;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .maindiv{
        text-align: left;
        color: white;
        margin: auto;
        margin-top: 25px;
        padding: 15px;
        padding-top: 0;
        width: 85%;
    }
    .maindiv a h1{
        font-size: 26px;
        color: white;
        padding-bottom: 5px;
        border-width: 1px;
        margin: 15px;
    }
    .template{
        display: inline;
        padding-bottom: 0;
    }
    .image-div{
        width: 100%;
        font-size: 13px;
    }
    .image-div img{
        width: 100%;
        border-radius: 10px;
        box-shadow: none;
    }
    .description-div{
        padding-top: 15px;
        width: 100%;
    }
    .template-name{
        font-size: 25px;
        font-weight: 600;
    }
    .features-head{
        font-size: 20px;
    }
    .stars{
        box-shadow: none;
    }
    .check-out:hover{
        text-decoration: none;
    }
    .prev, .next {
        position: absolute;
        top: 43%;
    }
    .prev:hover, .next:hover {
        background-color: transparent;
        -webkit-tap-highlight-color: transparent;
    }
}