html{
    background-color: #1d1d1f;
    list-style-type: none;
}
body{
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    font-family: SF-Pro-Text;
    overflow-x: hidden;
}
b{
    font-family: SF-Pro-Text-Bold;
}
a{
    text-decoration: none;
}
.main-head{
    max-width: 980px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
.main-head a:hover{
    text-decoration: underline;
}
.col{
    width: 100%;
}
.col .heads{
    font-size: 17px;
}
.col div{
    padding-bottom: 5px;
}
.col div a{
    color: #2997ff;
    font-size: 17px;
}
.col a:hover{
    text-decoration: underline;
}


@media screen and (max-width: 823px) {
    html{
        background-color: #1d1d1f;
        margin: 0px;
        padding: 0px;
    }
    body{
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .main-head{
        max-width: 980px;
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
}