html{
    background-color: #1d1d1f;
}
body {
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color:  black;
    font-family: font-regular;
    color: white;
}
#link-nav.contact{
    font-weight: bold;
    color: white;
}
#link-nav.contact::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    transition: width 0.2s ease-out;
    background-color: lawngreen;
}
.container{
    background-image: url(/resources/contact/imgs/using-iphone.jpg);
    background-size: cover;
}
.main-head{
    padding-top: 33px;
    text-align: left;
    color: white;
    max-width: 1154px;
    width: 100%;
    margin: auto;
}
*{
    box-sizing: border-box;
}
.nav-links{
    max-width: 1024px !important;
    width: 100%;
}
.nav-content{
    padding: 0px 0px !important;
}
.footer{
    max-width: 1012px !important;
}
.contactform{
    max-width: 980px;
    width: 100%; 
    margin: auto; 
    padding: 0px 30px;
    padding-top: 50px;
    background-color: rgba(29, 29, 31, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    min-height: 400px;
    display:  grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'fname lname' 'email subject' 'textarea textarea' 'reset submit';
}
.contactform label span{
    font-size: 20px;
}
.contactform .label__fname{
    grid-area: fname;
}
.contactform .label__lname{
    grid-area: lname;
}
.contactform .label__email{
    grid-area: email;
}
.contactform .label__subject{
    grid-area: subject;
}
.contactform .label__message{
    grid-area: textarea;
}
.contactform .reset{
    grid-area: reset;
}
.contactform .submit{
    grid-area: submit;
}
.contactform input,.contactform textarea{
    padding: 10px 15px;
    font-size: 17px;
    border-radius: 10px;
    background-color: #eaeaea;
    border: none;
    margin: 10px 0;
    width: 100%;
    font-family: font-regular;
}
.contactform textarea{
    margin: 10px 0;
    width: 100%;
    height: 200px;
    resize: none;
}
.required-asteric{
    color: red;
    text-align: left;
}
.reset{
    width: 115px;
    text-align: center;
    margin: auto;
    padding-bottom: 25px;
    background-color: transparent !important;
}
.reset-button{
    width: 115px;
    padding: 10px;
    font-family: font-regular;
    font-size: 25px !important;
    color: white !important;
    background-color: #007aff !important;
    border-color: transparent;
    border-radius: 50px !important;
    cursor: pointer;
}
.reset-button:hover{
    color: white;
    background-color: red !important;
}
.submit{
    width: 115px;
    text-align: center;
    margin: auto;
    padding-bottom: 25px;
    background-color: transparent !important;
}
.submit-button{
    padding: 10px;
    font-family: font-regular;
    font-size: 25px !important;
    color: white !important;
    background-color: #007aff !important;
    border-color: transparent;
    border-radius: 50px !important;
    cursor: pointer;
}
.submit-button:hover{
    color: white;
    background-color: green !important;
}

@media screen and (max-width: 768px) {
    html{
        background-color: #1d1d1f;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    body{
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        background-color: black;
        font-family: font-regular;
        letter-spacing: 0px;
    }
    .nav-content{
        padding: 0px 20px !important;
    }
    .nav-links{
        padding-left: 0px !important;
    }
    .main-head{
        padding-right: 15px;
        padding-left: 15px;
    }
    .contactform{
        width: 100%; 
        margin: auto; 
        padding: 0px 15px;
        padding-top: 25px;
        padding-bottom: 0px;
        background-color: rgba(29, 29, 31, 0.5);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        min-height: 400px;
        display:  grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'fname fname' 'lname lname' 'email email' 'subject subject' 'textarea textarea' 'reset submit';
    }
    .contactform label span{
        font-size: 20px;
    }
    .contactform .label__fname{
        grid-area: fname;
    }
    .contactform .label__lname{
        grid-area: lname;
    }
    .contactform .label__email{
        grid-area: email;
    }
    .contactform .label__subject{
        grid-area: subject;
    }
    .contactform .label__message{
        grid-area: textarea;
    }
    .contactform input, .contactform textarea{
        padding: 5px 10px;
        font-size: 15px;
        border-radius: 10px;
        background-color: #eaeaea;
        border: none;
        margin: 10px 0;
        width: 100%;
        font-family: font-regular;
    }
    .contactform textarea{
        margin: 10px 0;
        width: 100%;
        height: 200px;
        resize: none;
    }
    .required-asteric{
        color: red;
    }
    .reset{
        max-width: 980px;
        text-align: center;
        margin: auto;
        background-color: #1d1d1f;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-bottom: 20px;
    }
    .reset-button{
        padding: 10px;
        font-family: font-regular;
        font-size: 23px !important;
        color: white !important;
        background-color: #007aff !important;
        border-color: transparent;
        border-radius: 50px !important;
        transition-property: none;
    }
    .reset-button:focus{
        background-color: green;
        color: white;
    }
    .submit{
        max-width: 980px;
        text-align: center;
        margin: auto;
        background-color: #1d1d1f;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-bottom: 20px;
    }
    .submit-button{
        padding: 10px;
        font-family: font-regular;
        font-size: 23px !important;
        color: white !important;
        background-color: #007aff !important;
        border-color: transparent;
        border-radius: 50px !important;
        transition-property: none;
    }
    .submit-button:focus{
        background-color: green;
        color: white;
    }
}