@font-face {
    font-family: "SF Pro Text";
    src: url('resources/first-page/fonts/font.otf')
}
body{
    background-image: url(resources/first-page/imgs/arsh-image-transparent.jpg);
    background-color: #424649;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: SF Pro Text;
    float: right;
    width: 50%;
}
.navbar{
    text-align: right;
    margin-top: 10px;
    margin-right: 12px;
}
a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    
}
.maindiv{
    text-align: left;
    color: white;
    position: absolute;
    top: 52%;
    left: 52%;
    right: 5%;
    transform: translate(5%, -50%);
}
.namehead{
    color: white;
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: 900;
}
.at{
    color: lawngreen;
}
.dot{
    color: lawngreen;
}
.namehead-description{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 590;
}
.description{
    font-size: 23px;
    letter-spacing: 1px;
    color: #d6d5d5;
    
}
.indian{
    font-weight: bolder;
}
.in{
    color: orangered;
}
.di{
    color: white;
}
.an{
    color: green;
}
.social-links{
    text-align: left;
    font-size: 30px;
}
.social-links img{
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}
.social-links img:hover{
    transform: scale(1.6)
}
