<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>

    <title>Footer | Arsh Saxena</title>
    
    <link rel="stylesheet" href="global-footer.css">
    <link rel="icon" href="/resources/first-page/icons/arsh.png">
</head>
<body>
<!-- THIS IS A SEPARATE FILE FOR WEBSITE FOOTER. -->
<footer id="footer">
    <div class="footer">
        <div class="footer-nav">
            <div class="footer-nav-links">
                <div class="footer-nav-col">
                    <span class="footer-col-heads">Discover</span>
                    <br>
                    <a href="/">Home</a>
                    <br>
                    <a href="/pages/about/">About</a>
                    <br>
                    <a href="/pages/gallery/">Gallery</a>
                    <br>
                    <a href="/pages/github/">GitHub</a>
                    <br>
                    <a href="/pages/templates/">Templates</a>
                    <br>
                    <a href="/pages/downloads/">Downloads</a>
                    <br>
                    <a href="/pages/contact/">Contact</a>
                    <br>
                    <a href="/pages/sitemap/">Site Map</a>
                </div>
                <div class="footer-nav-col">
                    <span class="footer-col-heads">Contact</span>
                    <br>
                    <a href="/pages/contact/">Form</a>
                    <br>
                    <a href="https://instagram.com/arsh.saxena02" target="blank">Instagram</a>
                    <br>
                    <a href="https://www.linkedin.com/in/arshsaxena/" target="blank">LinkedIn</a>
                    <br>
                    <a href="https://t.me/arshsaxena" target="blank">Telegram</a>              
                    <br>
                    <a href="https://www.twitter.com/arshsaxena02" target="blank">Twitter</a>
                </div>
                <div class="footer-nav-col">
                    <span class="footer-col-heads">Social</span>
                    <br>
                    <a href="https://facebook.com/arsh.saxena02" target="blank">Facebook</a>
                    <br>
                    <a href="https://gaana.com/playlist/arshsaxena-aaahx-favorite" target="blank">Gaana </a>
                    <br>
                    <a href="https://github.com/arshsaxena" target="blank">GitHub</a>
                    <br>
                    <a href="https://www.reddit.com/u/arshsaxena" target="blank">Reddit</a>
                    <br>
                    <a href="https://www.youtube.com/channel/UC8QAtZHZy9DApConhuO5n-A" target="blank">YouTube</a>
                </div>
                <div class="footer-nav-col">
                    <span class="footer-col-heads">Policy</span>
                    <br>
                    <a href="/pages/terms-of-use/">Terms of Use</a>
                    <br>
                    <a href="/pages/privacy/">Privacy</a>
                    <br>
                    <a href="/pages/credits/">Credits</a>
                </div>
            </div>  
        </div>
        <br>
        <div class="footer-last-text">
            <div class="border1">
                Ways to reach: <a href="/pages/contact/">Form</a> | <a href="https://www.instagram.com/arsh.saxena02">arsh.saxena02 (Instagram)</a> | <a href="https://www.twitter.com/arsh.saxena02">arshsaxena02 (Twitter)</a>
            </div>
            <div class="border2">
                <div class="line1">Copryright &copy 2021 | 🇮🇳 <span class="in">In</span><span class="d">d</span><span class="ia">ia</span></div>
                <div class="line2"><span id="clock"></span></div>                      
                <div class="line3">Designed by: <a href="https://www.instagram.com/arsh.saxena02">Arsh Saxena</a></div>
            </div>
        </div>    
    </div>
    <script> 
        setInterval(showTime, 1000); 
            function showTime() {   
                let time = new Date();
                let month = time.toLocaleString('default', { month: 'long' });
                let date = time.getDate();
                let year = time.getFullYear();
                let hour = time.getHours(); 
                let min = time.getMinutes(); 
                let sec = time.getSeconds(); 
                let am_pm = "AM"; 

                if(month.toString().length == 1) {
                    month = '0'+month;
                }
                if (hour > 12) { 
                    hour -= 12; 
                    am_pm = "PM"; 
                } 
                if (hour == 0) { 
                    hour = 12; 
                    am_pm = "AM"; 
                } 

                hour = hour < 10 ? "0" + hour : hour; 
                min = min < 10 ? "0" + min : min; 
                sec = sec < 10 ? "0" + sec : sec; 

                let currentTime = month + " " + date + "," + " " + year + " " + "•" + " " + hour + ":" + min + ":" + sec + " " + am_pm; 

                document.getElementById("clock").innerHTML = currentTime; 
            } 

            showTime(); 
    </script> 
</footer>
</span>
</body>
</html>