html{
    background-color: #1d1d1f;
    list-style-type: none;
}
body{
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #2997ff;
}
.main-div{
    max-width: 980px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
section{
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-color: #383838;
    border-width: 1px;
    color: #b4b4b4;
}
section:last-of-type{
    border: none;
    padding-bottom: 10px;
}
section h2{
    margin: 0;
    color: white;
}
.app-download-div{
    color: white;
    display: flex;
    padding-top: 0;
}
.app-img-div img{
    width: 230px;
    border-radius: 22.5%;
    border: 0.25px solid #1d1d1f;
}
.app-info-div{
    max-width: 73.06122%;
    width: 73.06122%;
    margin-left: 1.93878%;
}
header{
    margin-top: 9px;
    padding-left: 10px;
}
header .app-name{
    margin: 0;
    font-size: 28px;
    line-height: 1.25;
    font-weight: 700;
    letter-spacing: .023em;
}
header .app-name-subtext{
    margin: 0;
    color: rgb(158, 158, 165);
    font-size: 22px;
    line-height: 1.22226;
    font-weight: 400;
    letter-spacing: .027em;
}
header .app-developer{
    margin-top: 2px;
    font-size: 19px;
    line-height: 1.22226;
    font-weight: 400;
    letter-spacing: .027em;
}
header .app-developer:hover{
    text-decoration: underline;
}
.download-button-div button{
    font-family: font-regular;
    font-size: 16px;
    padding: 8px 13px;
    margin-top: 20px;
    background-color: #007aff;
    border: none;
    border-radius: 50px;
}
.download-button-div button a{
    color: white;
}
.download-button-div button::before{
    content: "􀁸";
    color: white;
}
.app-price{
    font-size: 13px;
    color: rgb(158, 158, 165);
}
.div-headline{
    margin-bottom: 17px;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: .024em;
}
.screenshots-ul-container{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.screenshots-ul-container ul{
    align-items: center;
    margin: 0;
    padding: 0;
}
.screenshots-ul-container ul li{
    display: inline-block;
    list-style-type: none;
}
.screenshots-ul-container ul li:not(:first-of-type){
    margin-left: 1.93878%;
}
.screenshots-ul-container ul li picture{
    margin: 0;
    position: relative;
    display: block;
}
.screenshots-ul-container ul li picture img{
    width: 230px;
    height: 497px;
    border-radius: 10%/4.1%;
    border: #1d1d1f 1px solid;
}
.app-description div{
    width: 64.72789%;
}
.app-description div p{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.065px;
}
.app-whats-new .new-info{
    letter-spacing: 0.065px;
    padding-bottom: 20px;
}
.app-whats-new .new-description{
    width: 64.72789%;
    float: left;
}
.app-whats-new .new-version-date{
    width: 31.39456%;
    float: right;
    text-align: right;
}
.info-category-container{
    display: block;
    width: auto;
    font-size: 15px;
}
.info-category-container .container-subdiv{
    margin-left: -1.97711%;
}
.info-category{
    padding-bottom: 16px;
    margin-left: 1.93878%;
    vertical-align: top;
    display: inline-block;
    width: 31.00456%;
}
.info-category dt{
    color: #9c9c99;
}
.info-category dd{
    color: #e2e2e0;
    padding-left: 0px;
    margin-left: 0;
}
.app-external-links{
    display: block;
    text-align: center;
}
.app-external-links ul li{
    display: inline-block;
    margin-right: 16px;
}
.app-external-links ul li a:hover{
    text-decoration: underline;
}
.app-external-links ul li:last-of-type{
    margin-right: 0;
}
.also-download a img{
    width: 146px;
    margin-bottom: 5px;
    border-radius: 22.5%;
    pointer-events: all ;
    border: 0.25px solid #1d1d1f;
}
.also-download a{
    color: #cccccc;
    display: inline-block;
}
.also-download a:not(:first-of-type){
    margin-left: 1.93878%;
}
.also-download a:hover{
    text-decoration: underline;
}
.also-download .also-app-name{
    font-size: 15px;
}
.also-download .also-app-name-subtext{
    font-size: 13px;
}

/* Mobiles and some tabs */
@media only screen and (max-device-width: 1024px) and (orientation: landscape){
.screenshots-ul-container ul li picture img{
    width: 157px;
    height: 339px;
    border-radius: 10%/4.1%;
}}
@media only screen and (max-device-width: 823px) {
    html{
        background-color: #1d1d1f;
        margin: 0px;
        padding: 0px;
    }
    body{
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    a{
        text-decoration: none;
    }
    .main-div{
        max-width: 980px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8px;
    }
    section{
        padding-top: 15px;
        padding-bottom: 20px;
        border-bottom-style: solid;
        border-color: #383838;
        border-width: 1px;
        color: #b4b4b4;
    }
    section:last-of-type{
        border: none;
        padding-bottom: 10px;
    }
    section h2{
        margin: 0;
        color: white;
    }
    .app-download-div{
        color: white;
        display: flex;
        padding-top: 0;
    }
    .app-img-div img{
        width: 145.203px;
        border-radius: 22.5%;
    }
    .app-info-div{
        max-width: 73.06122%;
        width: 73.06122%;
        margin-left: 1.93878%;
    }
    header{
        margin-top: 9px;
        padding-left: 10px;
    }
    header .app-name{
        margin: 0;
        font-size: 22px;
        line-height: 1.25;
        font-weight: 700;
        letter-spacing: .023em;
    }
    header .app-name-subtext{
        margin: 0;
        color: rgb(158, 158, 165);
        font-size: 13px;
        line-height: 1.22226;
        font-weight: 400;
        letter-spacing: .027em;
    }
    header .app-developer{
        margin-top: 2px;
        font-size: 14px;
        line-height: 1.22226;
        font-weight: 400;
        letter-spacing: .027em;
    }
    header .app-developer:hover{
        text-decoration: underline;
    }
    .download-button-div button{
        font-family: font-regular;
        font-size: 14px;
        padding: 8px 13px;
        margin-top: 20px;
        background-color: #007aff;
        border: none;
        border-radius: 50px;
    }
    .download-button-div button a{
        color: white;
    }
    .download-button-div button::before{
        content: "􀁸";
        color: white;
    }
    .app-price{
        font-size: 13px;
        color: rgb(158, 158, 165);
    }
    .div-headline{
        margin-bottom: 17px;
        -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: .024em;
    }
    .screenshots-ul-container{
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .screenshots-ul-container ul{
        align-items: center;
        margin: 0;
        padding: 0;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        width: 100%;
        white-space: nowrap;
    }
    .screenshots-ul-container ul li{
        /* width: 42.10821vw;
        max-width: 42.10821vw; */
        display: inline-block;
        list-style-type: none;
    }
    .screenshots-ul-container ul li:not(:first-of-type){
        margin-left: 1.93878%;
    }
    .screenshots-ul-container ul li picture{
        margin: 0;
        position: relative;
        display: block;
    }
    .screenshots-ul-container ul li picture img{
        width: 157px;
        height: 339px;
        border-radius: 10%/4.1%;
    }
    .app-description div{
        width: 100%;
    }
    .app-description div p{
        margin: 0;
        padding: 0;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.065px;
    }
    .app-whats-new .new-info{
        letter-spacing: 0.065px;
        padding-bottom: 0px;
    }
    .app-whats-new .new-description{
        width: 64.72789%;
        float: none;
    }
    .app-whats-new .new-version-date{
        width: 31.39456%;
        float: none;
        text-align: left;
        margin-bottom: 18px;
    }
    .app-information{
        border-bottom: none;
    }
    .info-category-container{
        display: block;
        width: auto;
        font-size: 15px;
    }
    .info-category-container .container-subdiv{
        margin-left: -1.97711%;
    }
    .info-category{
        padding-bottom: 16px;
        margin-left: 1.93878%;
        vertical-align: top;
        display: inline-block;
        width: 100%;
    }
    .info-category dt{
        color: #9c9c99;
    }
    .info-category dd{
        color: #e2e2e0;
        padding-left: 0px;
        margin-left: 0;
    }
    .app-external-links{
        display: block;
        text-align: left;
        width: 100%;
    }
    .app-external-links ul{
        padding-left: 0;
    }
    .app-external-links ul li:first-of-type{
        border-top: 1px solid #383838;
    }
    .app-external-links ul li{
        font-size: 17px;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: 0;
        border-bottom: 1px solid #383838;
    }
    .app-external-links ul li a:hover{
        text-decoration: underline;
    }
    .app-external-links ul li:last-of-type{
        margin-right: 0;
    }
    .also-download a img{
        width: 126px;
        margin-bottom: 5px;
        border-radius: 22.5%;
        pointer-events: all ;
        border: 0.25px solid #1d1d1f;
    }
    .also-download a{
        color: #cccccc;
        display: inline-block;
    }
    .also-download a:not(:first-of-type){
        margin-left: 1.93878%;
    }
    .also-download a:hover{
        text-decoration: underline;
    }
    .also-download .also-app-name{
        font-size: 13px;
    }
    .also-download .also-app-name-subtext{
        font-size: 11px;
    }
}