<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>

    <title>Apple Style Navigation Bar | Templates | Arsh Saxena</title>
    
    <meta name="description" content="Templates | Arsh Saxena | Download cool website templates made by Arsh Saxena.">
    <meta name="author" content="Arsh Saxena">
    <meta name="keywords" content="Arsh Saxena, arsh.saxena02, GitHub, Coding, Indian, Student">
    
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/pages/globals/global-fonts.css">
    <link rel="stylesheet" href="/pages/globals/global-navbar/global-navbar.css">
    <link rel="stylesheet" href="/pages/globals/global-footer/global-footer.css">
    <link rel="stylesheet" href="/pages/globals/global-scrollbar.css">
    <link rel="stylesheet" href="/pages/globals/global-top-button/global-top-button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="theme-color" content="#1d1d1f">
    <meta name="msapplication-navbutton-color" content="#1d1d1f">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1d1d1f">

    <link rel="icon" href="/resources/first-page/icons/arsh-favicon.png">
</head>
<body>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    <script>
        $(function(){
        $("#nav").load("/pages/globals/global-navbar/global-navbar.html"); 
        $("#footer").load("/pages/globals/global-footer/global-footer.html"); 
        $("#top-button").load("/pages/globals/global-top-button/global-top-button.html");
        });
    </script>
    <div class="container">
        <span id="top-button"></span>
        <nav class="nav" id="nav"> 
        </nav>
        <div class="maindiv">
            <div class="slideshow-container">
                <img src="resources/template-screenshot.PNG" alt="">
            </div>
            <br><br>
            <div class="download-link">
                <h1>Apple-Style-Navigation-Bar-by-Arsh.zip</h1>
                <br>
                <h3>1.83KB</h3>
                <div class="download-button-div">
                    <button><b><a href="resources/Apple-Style-Navigation-Bar-by-Arsh.zip">&nbsp; DOWNLOAD</a></b></button>
                    <br>
                </div>
            </div>  
        </div>
    </div>  
    <span class="footer-conatiner">
        <footer>
            <div class="footer" id="footer-part">
                <div class="footer-text">
                    <img src="/resources/first-page/icons/arsh.png" alt="arsh-img-footer">
                    <span class="path">
                        <span class="arrow"><i class="fa fa-angle-right"></i></span>
                        <span class="page-name">Templates</span>
                        <span class="arrow"><i class="fa fa-angle-right"></i></span>
                        <span class="page-name">Apple Style Navigation Bar</span>
                    </span>                  
                </div>
            </div>
        </footer>
        <footer id="footer"></footer>
    </span>
</body>
</html>