html{
    background-color: #1d1d1f;
    list-style-type: none;
}
body{
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.main-div{
    max-width: 850px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #111111;
    border-radius: 15px;
}
.h1{
    margin: 0;
    padding-bottom: 10px !important;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.privacy-text h3{
    font-size: 24px;
    margin-bottom: 0;
}
.privacy-text p{
    font-size: 17px;
    margin-top: 5px;
    letter-spacing: 0px;
    line-height: 23px;
    color: rgb(196, 196, 196);
    margin: 0 0 15  px 0;
}
.privacy-text p:last-of-type{
    margin-bottom: 0;
}
.privacy-text p b{
    font-size: 19px;
}
p a{
    color: #2997ff;
}
p a:hover{
    text-decoration: underline;
}

/* Mobiles and some tabs */
@media only screen and (max-device-width: 823px) {
    html{
        background-color: #1d1d1f;
        margin: 0px;
        padding: 0px;
    }
    body{
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    a{
        text-decoration: none;
    }
    .main-div{
        max-width: 980px;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        background-color: #111111;
        border-radius: 15px;
    }
    .h1{
        margin: 0;
        text-align: center !important;
        font-size: 35px;
        letter-spacing: 0;
    }
}