html{
    background-color: #1d1d1f;
}
body{
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    font-family: SF-Pro-Text;
    overflow-x: hidden;
}
a{
    text-decoration: none !important;
    color: white;
}
a h1{
    text-align: center;
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}
a h1 img{
    height: 30px;
    vertical-align: -9%;
    margin-right: 5px;
}
a h1:hover{
    transform: scale(1.2);
}
.row-for-pc{
    max-width: 1150px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    height: max-content;
}
.column{
    flex: 20%;
    max-width: 25%;
    padding: 0 4px;
}
.column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.row-for-mobile{
    display: none;
}

/* Mobiles and some tabs */
@media only screen and (max-device-width: 1024px) {
    .row-for-pc{
        display: none;
    }
    .row-for-mobile{
        display: flex;
        flex-wrap: wrap;
        padding: 0 0px;
    }
    .column{
        flex: 40%;
        max-width: 100%;
        padding: 0px;
        display: inline-block;
    }
    .column img{
        margin-top: 4px;
        vertical-align: middle;
        width: 100%;
    }
    a h1:hover{
        transform: scale(1);
    }
}