html{
    background-color: #1d1d1f;
}
body{
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    overflow-x: hidden;
}
a{
    text-decoration: none !important;
    color: white;
}
#link-nav.gallery{
    font-family: "text-font-bold";
    color: white;
}
.main-div{
    max-width: 980px;
    margin: 50px auto;
}
.columns-container{
    width: 100%;
    display: flex;
}
.columns-container .id-column{
    width: 50%;
}
.id-column .id-column-head-container{
    font-family: "display-font-bold";
    font-size: 30px;
    width: fit-content;
}
.id-column .id-column-head-container .id-column-head{
    width: fit-content;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    padding: 7.5px 20px;
    margin-bottom: 5px;
    border-radius: 50px;
    border-bottom-left-radius: 0px;
}
.id-column .id-column-head-container .id-column-head{
    text-decoration: none;
}
.id-column .id-column-head-container:hover .id-column-head,
.id-column .id-column-head-container:focus .id-column-head{
    text-decoration: underline;
}
.columns-container .id-column:first-of-type{
    margin-right: 5px;
}
.images-columns-container{
    display: flex;
}
.images-columns-container .image-column{
    width: 50%;
}
.images-columns-container .image-column:first-of-type{
    margin-right: 5px;
}
.images-columns-container .image-column img{
    width: 100%;
    margin-bottom: 1px;
    border: #323234 0.5px solid;
}

@media screen and (max-width: 980px) {
    .main-div{
        max-width: 980px;
        width: 97%;
        margin: 30px auto;
    }
    .columns-container{
        width: 100%;
        display: flex;
    }
    .id-column .id-column-head-container{
        font-family: "display-font-bold";
        font-size: 22px;
    }
}

@media screen and (max-width: 719px) {
    .main-div{
        max-width: 980px;
        width: 97%;
        margin: 30px auto;
    }
    .columns-container{
        width: 100%;
        display: flex;
    }
    .columns-container .id-column{
        width: 50%;
    }
    .columns-container .id-column:first-of-type{
        margin-right: 5px;
    }
    .images-columns-container{
        display: block;
    }
    .images-columns-container .image-column{
        width: 100%;
    }
    .id-column .id-column-head-container{
        font-family: "display-font-bold";
        font-size: 17px;
    }
    .id-column .id-column-head-container .id-column-head{
        padding: 5px 10px;
    }
    .images-columns-container .image-column img{
        width: 100%;
        margin-bottom: 1px;
    }
}