@font-face {
    font-family: "SF Pro Text";
    src: url('../../resources/first-page/fonts/font.otf');
}
@font-face{
    font-family: "SF Pro Text Bold";
    src: url('../../resources/first-page/fonts/font-bold.otf');
}
@font-face{
    font-family: "SF Pro Italic";
    src: url('../../resources/first-page/fonts/font-italic.otf');
}
body{
    background-color: #424649;
    color: white;
    font-family: SF Pro Text;
    text-decoration: none;
}
b{
    font-family: SF Pro Text Bold;
}
.back-arrow-button{
    font-weight: 900;
    text-decoration: none;
    color: white;
    font-size: 45px;
    position: absolute;
    top: 8px;
    left: 20px;
}
.mainheading{
    font-weight: 900;
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    letter-spacing: 2px;
    margin-bottom: 0;
    color: lawngreen;
}
.head{
    color: gold;
}
.chhota-baccha{
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}
.chhota-baccha img{
    height: 270px;
    border-radius: 35px;
    image-orientation: from-image;
    transition-property: height transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.chhota-baccha img:hover{
    height: 290px;
    transform: scale(1.11); 
    border-radius: 35px;
    image-orientation: from-image;
}
.thoda-bada-baccha{
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}
.thoda-bada-baccha img{
    height: 350px;
    border-radius: 25px;
    image-orientation: from-image;
    transition-property: height transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.thoda-bada-baccha img:hover{
    height: 375px;
    transform: scale(1.11); 
    border-radius: 35px;
    image-orientation: from-image;
}
.thoda-sa-aur-bada-baccha{
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}
.thoda-sa-aur-bada-baccha img{
    height: 315px;
    border-radius: 25px;
    image-orientation: from-image;
    transition-property: height transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.thoda-sa-aur-bada-baccha img:hover{
    height: 350px;
    transform: scale(1.11); 
    border-radius: 35px;
    image-orientation: from-image;
}
.ekdum-latest{
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}
.ekdum-latest img{
    height: 290px;
    border-radius: 25px;
    image-orientation: from-image;
    transition-property: height transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.ekdum-latest img:hover{
    height: 345px;
    transform: scale(1.11); 
    border-radius: 35px;
    image-orientation: from-image;
}
.great-grandparents{
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}
.great-grandparents img{
    height: 220px;
    border-radius: 25px;
    image-orientation: from-image;
    transition-property: height transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.great-grandparents img:hover{
    height: 245px;
    transform: scale(1.11); 
    border-radius: 35px;
    image-orientation: from-image;
}
.family{
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}
.family img{
    height: 250px;
    border-radius: 25px;
    image-orientation: from-image;
    transition-property: height transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.family img:hover{
    height: 275px;
    transform: scale(1.11); 
    border-radius: 35px;
    image-orientation: from-image;
}
