html{
    background-color: #1d1d1f;
    list-style-type: none;
}
body{
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: rgba(255, 255, 255, 0.868);
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.main-div{
    max-width: 980px;
    width: 100%;
    margin: 20px auto;
    background-color: #111111;
    border-radius: 15px;
}
.text-container{
    padding: 20px;
}
.h1{
    margin: 0;
    font-family: display-font-bold;
    padding-bottom: 0 !important;
    text-align: center;
    font-size: 40px;
}
.privacy-text h3{
    font-family: display-font-bold;
    font-size: 24px;
    margin-bottom: 0;
}
.privacy-text p{
    font-size: 17px;
    margin-top: 15px;
    line-height: 25px;
    color: rgb(196, 196, 196);
}
p a{
    color: #2997ff;
}
p a:hover{
    text-decoration: underline;
}
.disclaimer-list{
    margin: 0;
}
ol{
    padding-left: 20px;
    margin-top: 0;
    color: rgb(196, 196, 196);
}
p:last-child{
    margin-bottom: 0;
}


@media screen and (max-width: 823px) {
    html{
        background-color: #1d1d1f;
        margin: 0px;
        padding: 0px;
    }
    body{
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    a{
        text-decoration: none;
    }
    .main-div{
        max-width: 980px;
        width: 90%;
        margin: 20px auto;
        background-color: #111111;
        border-radius: 15px;
    }
    .h1{
        margin: 0;
        text-align: center !important;
        font-size: 35px;
        letter-spacing: 0;
    }

}