<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Name | Welcome to my official website!</title> <!-- Type your name. -->
    <meta name="description" content="....."> <!-- Replace ..... with your description. -->
    <meta name="author" content="....."> <!-- Replace ..... with your name. -->
    <meta name="keywords" content="....."> <!-- Replace ..... with your keywords. -->
    <link rel="stylesheet" href="./pages/first-page/style.css">
    <link rel="icon" href="resources/first-page/icons/...."> <!-- Replace ..... with your image name. -->
    <link rel="apple-touch-icon" href="./resources/gallery/....."> <!-- Replace ..... with image name. -->
</head>
<body>
    <!-- 


        This website is not responsive, only for desktops.



     -->
    <div class="navdiv">
        <nav class="navbar">
            <a href="pages/gallery/index.html" class="gallery"><b>GALLERY</b></a>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="pages/github/index.html" class="github"><b>GITHUB</b></a>
        </nav>
    </div>
    <div class="maindiv">
        <div class="namehead">
            <span class="at">@</span>your<span class="dot">.</span>name123 <!-- Type your common username. -->
        </div>
        <div class="namehead-description">
            Your name
        </div>
        <br>
        <div class="description">
            <p>
                I am an <span class="indian"><span class="in">NATI</span><span class="di">ONA</span><span class="an">LITY</span></span>. <br> <!-- Change nationality and span.class and colors from style.css accordingly. -->
                I have ..... <br> <!-- Replace ..... according to yourself. -->
                I am a ..... <br> <!-- Replace ..... according to yourself. -->
                I love ..... <br> <!-- Replace ..... according to yourself. -->
                Follow me anywhere. <br>
                More updates and improvements on the website coming soon. Stay tuned! <!-- Your choice for this line. -->
            </p>
        </div>
        <br>
        <div class="social-links">
            <p> <!-- Replace # with your links. -->
                <a href="#" target="blank"><img src="resources/first-page/icons/instagram.svg" height="32" width="44"></a>
                &nbsp;
                <a href="#" target="blank"><img src="resources/first-page/icons/github.png" height="35" width="35"></a>
                &nbsp;
                <a href="mailto:#" target="blank"><img src="resources/first-page/icons/gmail.svg" height="32" width="44"></a>
                &nbsp;
                <a href="#" target="blank"><img src="resources/first-page/icons/linkedin.svg" height="31" width="44"></a>
                &nbsp;
                <a href="#" target="blank"><img src="resources/first-page/icons/telegram.svg" height="32" width="44"></a>
                &nbsp;                
                <a href="#" target="blank"><img src="resources/first-page/icons/reddit.png" height="31" width="32"></a>
                &nbsp;
                <a href="#" target="blank"><img src="resources/first-page/icons/twitter.svg" height="27" width="33"></a>
                &nbsp;
                <a href="#" target="blank"><img src="resources/first-page/icons/facebook.png" height="30" width="16"></a>
                &nbsp;
                <a href="#" target="blank"><img src="resources/first-page/icons/gaana.png" height="30" width="20"></a>
                &nbsp;
                <a href="#" target="blank"><img src="resources/first-page/icons/youtube.png" height="25" width="35"></a>
            </p>
        </div>
    </div>
    <div class="callout">
        <div class="callout-header"><b>ATTENTION!</b></div>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
        <div class="callout-container">
            Website may not function properply below <b>1366x768</b> resolution.
        </div>
    </div>
</body>
</html>