html{
    background-color: #1d1d1f;
}
body{
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #2997ff;
}
#link-nav.about{
    font-family: "text-font-bold";
    color: white;
}
.main-div{
    max-width: 980px;
    width: 100%;
    margin: 50px auto;
    border-radius: 10px;
}
.description-div{
    border-radius: 10px;
    margin-bottom: 50px;
}
.p-div{
    /* background-color: #166d3b;
    background-image: linear-gradient(325deg, #166d3b 0%, #000000 65%);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px; */
    
    background-color: #161616;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px
}
.p-div p{
    color: #c9c9d5;
    font-family: "text-font-regular";
    font-size: 18px;
    line-height: 1.4211;
    letter-spacing: .001em;
}
.p-div p:first-of-type{
    margin-top: 0;
}
.p-div p:last-of-type{
    margin-bottom: 0;
}
.p-div p a:hover{
    text-decoration: underline;
}
.skills{
    font-size: 15px;
}
.skills div{
    font-family: "display-font-bold";
    display: inline-block !important;
    padding: 5px 10px;
    border-radius: 50px;
    margin-right: 0px;
    margin-bottom: 10px;
}
.timeline-head{
    margin-bottom: 50px;
    text-align: center;
    font-size: 50px;
    font-family: "display-font-bold";
}
section#timeline {
    max-width: 1024px;
    width: 98%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    position: relative;
}
section#timeline:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 1%;
    margin: 0 0 0 -1px;
    width: 2px;
    height: 95%;
    background: rgba(255, 255, 255, 0.2);
}
section#timeline article {
    width: 100%;
    margin: 0 0 60px 0;
    position: relative;
}
section#timeline article:after {
    content: '';
    display: block;
    clear: both;
}
section#timeline article div.inner {
    width: 45%;
    float: left;
    margin: 5px 0 0 0;
    border-radius: 6px;
}
section#timeline article div.inner div.date {
    font-family: "display-font-bold";
    display: block;
    width: 60px;
    height: 40px;
    padding: 5px 0;
    position: absolute;
    top: 6%;
    left: 50%;
    margin: 0 0 0 -32px;
    border-radius: 100%;
    font-size: 12px;
    background-color: #166d3b;
    background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
    color: #fff;
    border: 2px solid rgba(21, 177, 1, 0.747);
    box-shadow: 0 0 0 4px #25303B;
}
section#timeline article div.inner div.date span {
    display: block;
    text-align: center;
}
section#timeline article div.inner div.date span.timeline-year {
    font-size: 18px;
    position: relative;
    top: 25% !important;
}
section#timeline article div.inner .year-entry-head {
    font-family: "display-font-bold";
    padding: 8px;
    margin: 0;
    color: #fff;
    font-size: 25px;
    border-radius: 10px 10px 0 0;
    position: relative;
}
section#timeline article div.inner p {
    padding: 8px;
    margin: 0;
    font-size: 15px;
    background: #fff;
    color: #656565;
    border-radius: 0 0 10px 10px;
}
section#timeline article:nth-child(2n+2) div.inner {
    float: right;
}
section#timeline article:nth-child(2n+2) div.inner .year-entry-head:after {
    left: -5px;
}
section#timeline article:nth-child(1) div.inner .year-entry-head {
    background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
}
section#timeline article:nth-child(2) div.inner .year-entry-head{
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}
section#timeline article:nth-child(3) div.inner .year-entry-head{
    background-color: #f9484a;
    background-image: linear-gradient(45deg, #f9484a 0%, #fbd72b 74%);
}
section#timeline article:nth-child(4) div.inner .year-entry-head{
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}
section#timeline article:nth-child(5) div.inner .year-entry-head{
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}
section#timeline article:nth-child(6) div.inner .year-entry-head {
    background-color: #fbb034;
    background-image: linear-gradient(45deg, #fbb034 0%, #ffdd00 74%);
}
section#timeline article:nth-child(7) div.inner .year-entry-head{
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
section#timeline article:nth-child(8) div.inner .year-entry-head{
    background-color: #c7e9fb;
    background-image: linear-gradient(315deg, #c7e9fb 0%, #e61d8c 74%);    
}
section#timeline article:nth-child(9) div.inner .year-entry-head{
    background-color: #f8ef42;
    background-image: linear-gradient(315deg, #f8ef42 0%, #0fd64f 74%);
}
section#timeline article:nth-child(10) div.inner .year-entry-head{
    background-color: #000000;
    background-image: linear-gradient(45deg, #000000 0%, #414141 74%);
}
section#timeline article:nth-child(11) div.inner .year-entry-head{
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);    
}
section#timeline article:nth-child(12) div.inner .year-entry-head{
    background-color: #feae96;
    background-image: linear-gradient(315deg, #feae96 0%, #fe0944 74%);
}
section#timeline article:nth-child(13) div.inner .year-entry-head{
    background-color: #2b1331;
    background-image: linear-gradient(45deg, #2b1331 0%, #b9abcf 74%);
}
section#timeline article:nth-child(14) div.inner .year-entry-head{
    background-color: #0beef9;
    background-image: linear-gradient(315deg, #0beef9 0%, #48a9fe 74%);
}
section#timeline article:nth-child(15) div.inner .year-entry-head{
    background-color: #6b2210;
    background-image: linear-gradient(45deg, #6b2210 0%, #a65b31 74%);
}
section#timeline article:nth-child(16) div.inner .year-entry-head{
    background-color: #94c997;
    background-image: linear-gradient(315deg, #94c997 0%, #daacec 74%);
}
section#timeline article:nth-child(17) div.inner .year-entry-head{
    background-color: #ffa69e;
    background-image: linear-gradient(315deg, #ffa69e 0%, #5d4954 74%);
}
section#timeline article:nth-child(18) div.inner .year-entry-head{
    background-color: #21d190;
    background-image: linear-gradient(315deg, #21d190 0%, #d65bca 74%);
}

@media screen and (max-width: 1024px){
    .main-div{
        max-width: 980px;
        width: 93%;
        
    }
    .social-links{
        text-align: center;
        font-size: 60px;
        padding-top: 300px;
        padding-bottom: 40px;
    }
}
@media screen and (max-width: 813px) and (orientation: landscape) {
    section#timeline:before {
        left: 9.4% !important;
    }
}
@media screen and (max-width: 813px) {
    html{
        background-color: #1d1d1f;
        margin: 0px;
        padding: 0px;
    }
    body{
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .main-div{
        max-width: 1024px;
        margin: 30px auto;
        width: 92%;
        border-radius: 10px;
        overflow-x: hidden;
    }
    .description-div{
        padding: 0;
    }
    .p-div p{
        max-width: fit-content;
        font-size: 17px;
    }
    .checkbox-div div{
        border-radius: 10px;
        width: fit-content;
        font-size: 17px;
        margin-top: 15px;
        padding: 10px;
    }
    section#timeline {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        position: relative;
    }
    section#timeline article:nth-child(2n+2) div.inner {
        float: right;
    }
    section#timeline article div.inner div.date {
        display: block;
        width: 50px;
        height: 40px;
        padding: 5px 0;
        position: absolute;
        top: 8%;
        left: 14%;
        margin: 0 0 0 -32px;
        border-radius: 100%;
        font-size: 12px;
        color: #fff;
    }
    section#timeline:before {
        display: none;
    }
    section#timeline:before {
        height: 95.5%;
    }
    section#timeline article div.inner {
        width: 70%;
        float: right;
        margin: 5px 0 0 0;
        border-radius: 6px;
    }
    section#timeline article {
        width: 100%;
        margin: 0 0 40px 0;
        position: relative;
    }
    section#timeline article:after {
        content: '';
        display: block;
        clear: both;
    }
    section#timeline article div.inner div.date span {
        display: block;
        text-align: center;
    }
    section#timeline article div.inner div.date span.timeline-year {
        font-size: 15px;
    }
    section#timeline article div.inner .year-entry-head {
        font-family: "display-font-bold";
        padding: 8px;
        margin: 0;
        color: #fff;
        font-size: 21px;
        border-radius: 10px 10px 0 0;
        position: relative;
    }
    section#timeline article div.inner .year-entry-head:after {
        display: none;
    }
    section#timeline article div.inner p {
        padding: 8px;
        margin: 0;
        font-size: 14px;
        background: #fff;
        color: #000000;
        border-radius: 0 0 10px 10px;
    }
}