html{
    background-color: #1d1d1f;
}
body{
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    font-family: SF-Pro-Text;
    overflow-x: hidden;
}
b{
    font-family: SF-Pro-Text-Bold;
}
a{
    text-decoration: none;
    color: #007aff;
}
a:hover{
    text-decoration: underline;
}
#link-nav.about{
    font-weight: bold;
    color: white;
}
#link-nav.about::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    transition: width 0.2s ease-out;
    background-color: lawngreen;
}
.main-head{
    max-width: 980px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
}
.description-div{
    padding: 10px;
    border-radius: 10px;
}
.p-div{
    background-color: #166d3b;
    background-image: linear-gradient(315deg, #166d3b 0%, #000000 74%);
    border-radius: 10px;
    padding: 10px;
}
.p-div p{
    max-width: fit-content;
    font-size: 19px;
    line-height: 1.4211;
}
.skills{
    text-align: center;
}
.skills h1{
    margin: 0;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
}
.skills img{
    width: 75px;
    padding-right: 20px;
    padding-left: 20px;
}
.education{
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    display: flex;
    padding: 10px;
    overflow-x: hidden;
}
.class{
    font-size: 30px;
}
.school{
    font-size: 18px;
}
.year{
    color: gold;
}.subject{
    font-size: 16px;
}
.air-per{
    padding-top: 5px;
    font-size: 20px;
    display: flex;
}
.air-per div{
    width: 50%;
}
.air{
    text-align: right;
}
.per{
    text-align: left;
}
.high-school{
    width: 50%;
    padding: 10px;
    background-color: #166d3b;
    background-image: linear-gradient(315deg, #166d3b 0%, #000000 74%);
    border-radius: 10px;
    margin-right: 10px;
}
.intermediate-school{
    width: 50%;
    float: right;
    padding: 10px;
    background-color: #166d3b;
    background-image: linear-gradient(135deg, #166d3b 0%, #000000 74%);
    border-radius: 10px;
    margin-left: 10px;
}
.high-school div, .intermediate-school div{
    padding-bottom: 5px;
}
.skillbar-div{
    background-color: #166d3b;
    background-image: linear-gradient(135deg, #166d3b 0%, #000000 74%);
    padding: 10px;
    border-radius: 10px;
}
.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    max-width: 980px;
    width: 100%;
    background: #1d1d1f;
    height: 40px;
    border-radius: 10px;
    text-align: right;
    transition: 0.4s linear;
    transition-property: width, background-color;
}
.skillbar:last-child{
    margin-bottom: 0;
}
.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    margin: 6px 5px;
    padding: 5px;
    font-weight: 600;
    letter-spacing: 0.75px;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    background: green;
    border-radius: 5px;
    border-radius: 5px;
}
.skillbar-bar {
    height: 40px;
    width: 0px;
    background: #6adcfa;
    border-radius: 8px;
}
.skill-bar-percent {
    position: absolute;
    right: 0px;
    top: 0;
    margin: 6px 5px;
    padding: 5px;
    color: white;
}
.checkbox-div{
    max-width: fit-content;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    cursor: pointer;
}
.checkbox-div div{
    padding: 15px;
    border-radius: 10px;
    font-size: 22px;
    background-color: #007aff;
    color: #fff;
    cursor: pointer;
}
section#timeline {
    max-width: 1024px;
    width: 98%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    position: relative;
}
section#timeline:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 1%;
    margin: 0 0 0 -1px;
    width: 2px;
    height: 95%;
    background: rgba(255, 255, 255, 0.2);
}
section#timeline article {
    width: 100%;
    margin: 0 0 20px 0;
    position: relative;
}
section#timeline article:after {
    content: '';
    display: block;
    clear: both;
}
section#timeline article div.inner {
    width: 45%;
    float: left;
    margin: 5px 0 0 0;
    border-radius: 6px;
}
section#timeline article div.inner span.date {
    display: block;
    width: 60px;
    height: 40px;
    padding: 5px 0;
    position: absolute;
    top: 6%;
    left: 50%;
    margin: 0 0 0 -32px;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 900;
    background-color: #166d3b;
    background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
    color: #fff;
    border: 2px solid rgba(21, 177, 1, 0.747);
    box-shadow: 0 0 0 4px #25303B;
}
section#timeline article div.inner span.date span {
    display: block;
    text-align: center;
}
section#timeline article div.inner span.date span.timeline-year {
    font-size: 18px;
    position: relative;
    top: 25% !important;
}
section#timeline article div.inner h2 {
    padding: 8px;
    margin: 0;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1px;
    border-radius: 10px 10px 0 0;
    position: relative;
}
section#timeline article div.inner p {
    padding: 8px;
    margin: 0;
    font-size: 15px;
    background: #fff;
    color: #656565;
    border-radius: 0 0 10px 10px;
}
section#timeline article:nth-child(2n+2) div.inner {
    float: right;
}
section#timeline article:nth-child(2n+2) div.inner h2:after {
    left: -5px;
}
section#timeline article:nth-child(1) div.inner h2 {
    background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
}
section#timeline article:nth-child(2) div.inner h2{
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}
section#timeline article:nth-child(3) div.inner h2{
    background-color: #f9484a;
    background-image: linear-gradient(45deg, #f9484a 0%, #fbd72b 74%);
}
section#timeline article:nth-child(4) div.inner h2{
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}
section#timeline article:nth-child(5) div.inner h2{
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}
section#timeline article:nth-child(6) div.inner h2 {
    background-color: #fbb034;
    background-image: linear-gradient(45deg, #fbb034 0%, #ffdd00 74%);
}
section#timeline article:nth-child(7) div.inner h2{
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
section#timeline article:nth-child(8) div.inner h2{
    background-color: #c7e9fb;
    background-image: linear-gradient(315deg, #c7e9fb 0%, #e61d8c 74%);    
}
section#timeline article:nth-child(9) div.inner h2{
    background-color: #f8ef42;
    background-image: linear-gradient(315deg, #f8ef42 0%, #0fd64f 74%);
}
section#timeline article:nth-child(10) div.inner h2{
    background-color: #000000;
    background-image: linear-gradient(45deg, #000000 0%, #414141 74%);
}
section#timeline article:nth-child(11) div.inner h2{
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);    
}
section#timeline article:nth-child(12) div.inner h2{
    background-color: #feae96;
    background-image: linear-gradient(315deg, #feae96 0%, #fe0944 74%);
}
section#timeline article:nth-child(13) div.inner h2{
    background-color: #2b1331;
    background-image: linear-gradient(45deg, #2b1331 0%, #b9abcf 74%);
}
section#timeline article:nth-child(14) div.inner h2{
    background-color: #0beef9;
    background-image: linear-gradient(315deg, #0beef9 0%, #48a9fe 74%);
}
section#timeline article:nth-child(15) div.inner h2{
    background-color: #6b2210;
    background-image: linear-gradient(45deg, #6b2210 0%, #a65b31 74%);
}
section#timeline article:nth-child(16) div.inner h2{
    background-color: #94c997;
    background-image: linear-gradient(315deg, #94c997 0%, #daacec 74%);
}


@media screen and (max-width: 1024px){
    .main-head{
        max-width: 980px;
        width: 93%;
        
    }
    .social-links{
        text-align: center;
        font-size: 60px;
        padding-top: 300px;
        padding-bottom: 40px;
    }
}
@media screen and (max-width: 813px) and (orientation: landscape) {
    section#timeline:before {
        left: 9.4% !important;
    }
}
@media screen and (max-width: 813px) {
    html{
        background-color: #1d1d1f;
        margin: 0px;
        padding: 0px;
    }
    body{
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .main-head{
        margin: 5px;
        padding: 0px;
        margin-top: 20px;
        max-width: 1024px;
        margin-right: auto;
        margin-left: auto;
        width: 92.5%;
        border-radius: 10px;
        overflow-x: hidden;
    }
    .description-div{
        padding: 0;
    }
    .p-div p{
        max-width: fit-content;
        font-size: 17px;
    }
    .skills{
        text-align: center;
    }
    .skills img{
        width: 40px;
        margin-top: 15px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .education{
        background-color: #166d3b;
        background-image: linear-gradient(315deg, #166d3b 0%, #000000 74%);
        border-radius: 10px;
        letter-spacing: 0px;
        margin-top: 15px;
        margin-bottom: 10px;
        display: block;
        padding: 10px;
        padding-bottom: 5px;
        overflow-x: hidden;
    }
    .high-school, .intermediate-school{
        background-image: none !important;
        background-color: transparent !important;
    }
    .class{
        font-size: 30px;
    }
    .school{
        font-size: 18px;
    }
    .year{
        color: gold;
    }
    .subject{
        font-size: 16px;
    }
    .air-per{
        padding-top: 5px;
        font-size: 17px;
        display: inline;
    }
    .air-per div{
        width: 100%;
    }
    .air{
        text-align: left;
    }
    .per{
        text-align: left;
    }
    .high-school{
        width: 100%;
        padding: 0px;
        background-color: transparent;
        margin: 0;
    }
    .intermediate-school{
        width: 100%;
        float: none;
        padding: 0px;
        background-color: transparent;
        margin-left: 0px;
        padding-bottom: 0;
    }
    .high-school div, .intermediate-school div{
        padding-bottom: 5px;
    }
    .checkbox-div div{
        border-radius: 10px;
        width: fit-content;
        font-size: 17px;
        margin-top: 15px;
        padding: 10px;
    }
    section#timeline {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        position: relative;
    }
    section#timeline article:nth-child(2n+2) div.inner {
        float: right;
    }
    section#timeline article div.inner span.date {
        display: block;
        width: 50px;
        height: 40px;
        padding: 5px 0;
        position: absolute;
        top: 8%;
        left: 10%;
        margin: 0 0 0 -32px;
        border-radius: 100%;
        font-size: 12px;
        font-weight: 900;
        color: #fff;
    }
    section#timeline:before {
        content: '';
        display: block;
        position: absolute;
        left: 8.5%;
        top: 1%;
        margin: 0 0 0 -1px;
        width: 2px;
        background: rgba(255, 255, 255, 0.2);
    }
    section#timeline:before {
        height: 95.5%;
    }
    section#timeline article div.inner {
        width: 75%;
        float: right;
        margin: 5px 0 0 0;
        border-radius: 6px;
    }
    section#timeline article {
        width: 100%;
        margin: 0 0 20px 0;
        position: relative;
    }
    section#timeline article:after {
        content: '';
        display: block;
        clear: both;
    }
    section#timeline article div.inner span.date span {
        display: block;
        text-align: center;
    }
    section#timeline article div.inner span.date span.timeline-year {
        font-size: 15px;
    }
    section#timeline article div.inner h2 {
        padding: 8px;
        margin: 0;
        color: #fff;
        font-size: 17px;
        letter-spacing: 1px;
        border-radius: 10px 10px 0 0;
        position: relative;
    }
    section#timeline article div.inner h2:after {
        display: none;
    }
    section#timeline article div.inner p {
        padding: 8px;
        margin: 0;
        font-size: 14px;
        background: #fff;
        color: #000000;
        border-radius: 0 0 10px 10px;
    }
}