html{
    background-color: #1d1d1f;
}
body{
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    font-family: "text-font-regular";
    overflow-x: hidden;
}
b{
    font-family: "text-font-bold";
}
a{
    text-decoration: none;
}
.main-div{
    max-width: 980px;
    width: 100%;
    margin: 50px auto;
    background-color: #1d1d1f;
    border-radius: 20px;
}
.template-container{
    padding: 20px;
}
/* Slideshow */
.mySlides {
    display: none
}
.slideshow-container img {
    vertical-align: middle;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    width: 100%;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.download-link{
    margin: 10px;
    text-align: center;
}
.download-link h1{
    margin: 0;
    font-size: 40px;
    font-family: "display-font-bold";
}
.download-link h3{
    margin: 0;
    font-size: 30px;
}
.download-button-div button{
    font-family: "text-font-regular";
    font-size: 25px;
    padding: 8px 13px;
    margin: 50px;
    margin-bottom: 0;
    background-color: #007aff;
    border: none;
    border-radius: 50px;
}
.download-button-div button:hover{
    background-color: #0064cf;
}
.download-button-div button a{
    color: white;
}
.download-button-div button::before{
    content: "􀁸";
    color: white;
}


@media screen and (max-width: 823px) {
    body{
        letter-spacing: 0;
    }   
    .container{
        max-width: 100%;
        margin: auto;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .main-div{
        max-width: 980px;
        width: 92%;
        margin: 20px auto;
        background-color: #1d1d1f;
        border-radius: 20px;
    }
    .template-container{
        padding: 10px;
    }
    .download-link h1{
        margin: 0;
        font-size: 25px;
    }
    .download-link h3{
        margin: 0;
        font-size: 20px;
    }
    .download-button-div button{
        font-family: "text-font-regular";
        font-size: 18px;
        padding: 8px 13px;
        margin: 50px;
        margin-bottom: 0;
        background-color: #007aff;
        border: none;
        border-radius: 50px;
    }
    .download-button-div button a{
        color: white;
    }
    .download-button-div button::before{
        content: "􀁸";
        color: white;
    }
}